:root {
    --blue: #0255f0;
    --lt-gray: #cccccc;
    --dk-gray: #767676;
}
* {
    box-sizing: border-box;
    font-family: Tahoma;
    font-size: 0.875rem;
}
fieldset {
    border: none;
}
fieldset > label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
    vertical-align: top;
    font-size: 1rem;
    line-height: 28px;
}
fieldset > label::after {
    content: ":";
}
select,
details {
    display: inline-block;
    width: 250px;
    background-color: white;
    cursor: pointer;
}
select,
summary {
    border: 1px solid var(--lt-gray);
    border-collapse: collapse;
    border-radius: 4px;
    padding: 4px;
    width: 250px;
    background-color: white;
    cursor: pointer;
}
details[open] > summary::marker {
    color: var(--blue);
}
select:focus,
summary:focus,
summary:active {
    box-shadow: 0 0 5px 1px var(--blue);
}

ul {
    list-style: none;

    margin: 0px;
    padding: 0px;
    margin-top: 2px;
    border: 1px solid var(--dk-gray);
    box-shadow: 0 0 5px 1px var(--lt-gray);
}
li {
    margin: 0px;
    padding: 0px;
}
li > label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
li > label:hover,
li > label:has(input:checked) {
    background-color: var(--dk-gray);
    color: white;
}

.selected-courses-box ul{
    margin: 0;
    padding: 0;
    margin-top: 2px;
    border: none;
    min-height: 50px;
}